@charset "UTF-8";
@import url("media-queries.css");
@import url("style.css");
/* CSS Document */


/************************************************************************************
Larger than 1300
*************************************************************************************/
@media screen and (min-width: 1300px) {
	
	/* jquery mobile menu BUTTON */
	.jqm-header > .ui-btn .ui-icon {
	display:none;
	}
	#suscribeHeader {
	width:50%;
	}
	#suscribeBox {
	width:50%;
	}
	.footer-col1 {
	width:29%;}
	.footer-col2 {
	} 
}

/************************************************************************************
larger than 1200
*************************************************************************************/
@media screen and (min-width: 1200px) and (max-width: 1300px) {

	/* pagewrap */
	
	/* jquery mobile menu BUTTON */
	.jqm-header > .ui-btn .ui-icon {
	display:none;
	}
	/* content */
	
	#fullcontent {
		width: 95%;
		padding: 3% 4%;
	}
	/* sidebar */
	
	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}
	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		width: 100%;
		height: auto;
		min-height: 300px;
	}
	/*  Suscribe box*/
	#suscribeBar {
		width:auto;
	} 
	#suscribeHeader {
	width:50%;
	}
	#suscribeBox {
	width:50%;
	}
	.footer-col1 {
	width:29%;}
	
.footer-col2 {
	} 
}


/************************************************************************************
Smaller than 1200
*************************************************************************************/
@media screen and (max-width: 1200px) {

	/* pagewrap */
	
	/* jquery mobile menu BUTTON */
	.jqm-header > .ui-btn .ui-icon {
	display:none;
	}
	/* content */
	
	#fullcontent {
		width: 95%;
		padding: 3% 4%;
	}
	/* sidebar */
	
	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}
	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		width: 100%;
		height: auto;
		min-height: 300px;
	}
	/*  Suscribe box*/
	#suscribeBar {
	width:auto;
	} 
	#suscribeHeader {
	width:50%;
	}
	#suscribeBox {
	width:50%;
	}
	
}

/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

	/* content */
	
	#fullcontent {
		width: 95%;
		padding: 3% 4%;
	}
	/* jquery mobile menu BUTTON */
	.jqm-header > .ui-btn .ui-icon {
	display:none;
	}
	/* sidebar */
	
	#sidebar .widget {
		padding:2%;
		margin-bottom: 10px;
	}
	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		width: 100%;
		height: auto;
		min-height: 300px;
	}
	/*  Suscribe box*/
	#suscribeBar {
	width:auto;
	} 
	#suscribeHeader {
	width:50%;
	}
	#suscribeBox {
	width:50%;
	}
	.socialMedia-fullwidth{ display:none;}
    .socialMedia-mobile{ display:block; margin-top:15px;}
	.socialMedia-mobile .socialMain{ position:inherit; margin:0px auto;}	
	.exposed{ right:0; top:50px;}
	.resultsSub{ margin-left:-12px;}
	.tab{ bottom:-12px!important; left:-15px!important;}
	.resultsTitle{ margin-left:-18px; margin-top:-12px; padding:2% 2% 1% 2%;}
	#results{ margin-left:0;}
}

@media screen and (max-width:860px) {
    #content{ width:100%; float:none;}
	#sidebar{ width:100%; float:none; margin-left:0;}
	.footer-col1{ float:none; width:auto; text-align:center; max-width:300px; margin:0px auto;}
	.footer-col2{ float:none; width:auto; text-align:center; margin:0;}
	#footer-nav{ margin:20px 0;}
	#footer-nav li{ float:none; width:auto; display:inline-block;}
	.secondNav{ margin:0;}
	#suscribeHeader{ float:none; width:auto; max-width:330px; margin:0px auto;}
	#suscribeBox{ width:auto; float:none;}
	.suscribeTitle{ font-size:3.7em}
	.suscribeTitle2{ font-size:3.4em}
	.offerTitle{ font-size:2.8em;}	
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width:740px) {
    #site-logo{ width:580px; top:20px; left:32px; background-position:38% 10px;}
	#site-logo a{ font-size:3.5em;}
	.spaceTitle{ margin-left:60px;}
	
}

@media screen and (max-width: 650px) {

	/* header */
	#header {
		height: auto;
	}
	.spaceHeader {
		height:0px; 
		margin-top:45px;}	
	/* jquery mobile menu BUTTON */	
	.jqm-header > .ui-btn .ui-icon {
	display:block;
	}
	/* search form */
	#searchform {
		position: absolute;
		top: 5px;
		right: 0;
		z-index: 100;
		height: 40px;
	}
	#searchform #s { 
		width: 70px;
	}
	#searchform #s:focus {
		width: 150px;
	}
	/* main nav */
	#main-nav {
		position: static;
		display:none;
	}
	/* site logo */
	#site-logo {
		margin:35px 0px 5px 12px;		
	}
	/* site description */
	#site-description {
		margin: 0 0 15px;
		position: static;
	}
	/* content */
	#content {
		width: auto;
		float: none;
		margin: 20px 0;
	}
	#fullcontent {
		width: auto;
		float: none;
		margin: 20px 0;
	}
	/* sidebar */
	#sidebar {
		width: 100%;
		margin: 0;
		float: none;
	}
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}
	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		min-height: 250px;
	}  
	#suscribeBar {
	width:auto;
	} 
	#suscribeHeader {
	float:none;
	width:auto;
	}
	#suscribeBox {
	float:none;
	width:auto;
	/* transition */
	-webkit-transition: float .7s; 
	-moz-transition: float .7s;
	transition: float .7s;
	}
	.section-title{ font-size:2.2em;}
    .left{ float:none; width:auto;}
	#vertical-text{ top:102px;}
	#site-logo{ background-position:34% 40px; width:575px;}
	.spaceTitle{ margin-left:25px;}
	#sidebar{ display:none;}
	.socialMedia-mobile{ display:none;}
	.pagewrap{ padding:0;}
}

@media screen and (max-width:620px) { 
   #site-logo a{ font-size:2.3em;}
   #site-logo{ background-position:35% 15px; width:395px; top:32px;}
   #vertical-text{ top:90px;}
   .spaceTitle{ margin-left:22px;}
   .tab{ left:-13px!important;}
   .resultsTitle{ margin-left:-14px;}  
   .resultsSub{ margin-left:-9px;} 
   .related .widget-image img{ height:auto; width:auto;}
}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}
	.spaceHeader {
		height:0px; 
		margin-top:45px;}
	/* main nav */
	#main-nav {
		display:none;
		}
	#main-nav a {
		font-size: 90%;
		padding: 10px 8px;
	}
	#suscribeBar {
	width:auto;
	} 
	#suscribeHeader {
	float:none;
	width:auto;
	}
	#suscribeBox {
	float:none;
	width:auto;
	/* transition */
	-webkit-transition: float .7s; 
	-moz-transition: float .7s;
	transition: float .7s;
	}
	.content-inner{ padding:10px 20px;}
	
	.offerTitle{ font-size:2.2em}
	.offerTitle p{ font-size:.5em;}
	.warning{ font-size:1.2em; line-height:22px;}
	#site-logo{ width:332px; top:42px;}
	#site-logo a{ font-size:2em;}
	.exposed{ top:35px;}
	.productPic img{ height:auto!important;}
	#site-logo{ margin-left:0;}
	#vertical-text{ top:36px;}
	#site-logo{ top:0;}
	#header{ height:110px!important;}
	.tab{ left:-10px!important;}
	.claimList{ margin-left:0; margin-right:0; width:88%;}
}

@media screen and (max-width:380px) {
    .section-title{ font-size:1.8em; line-height:30px;}
	.offerTitle{ font-size:1.6em}
	.suscribeTitle{ font-size:2.7em;}
	.suscribeTitle2{ font-size:2.4em;}
	#site-logo a{ font-size:1.4em;}
	#site-logo{ background:url("http://img.ewcdn.co/hlh/bg_&480.png") no-repeat scroll 35% 0px rgba(0, 0, 0, 0); width:225px;}
	
}